<div class="page page-users" ng-controller="editTranslators">

    <div class="pageheader">

        <h2>{{translatorProfile.translator.user_profile.user.username || translatorProfile.translator.user_profile.user.email}}</h2>

        <div class="page-bar">

            <ul class="page-breadcrumb">
                <li>
                    <a ui-sref="home.dashboard"><i class="fa fa-home"></i> CuzAdmin</a>
                </li>
                <li>
                    <a>Show Translators</a>
                </li>
                <li>
                    <a>{{translatorProfile.translator.user_profile.user.username || translatorProfile.translator.user_profile.user.email}}</a>
                </li>
            </ul>

        </div>

    </div>

    <!-- row -->
    <div class="row">


        <div class="col-md-12">

            <!-- tile -->
            <section class="tile tile-simple">


                <!-- tile body -->
                <div class="tile-body">


                    <ul class="list-unstyled m-20">
                        <li><strong>Name:</strong> {{translatorProfile.translator.user_profile.user.username}}</li>
                        <li><strong>Email:</strong> {{translatorProfile.translator.user_profile.user.email}}</li>
                        <li><strong>Role:</strong> {{translatorProfile.translator.user_profile.user.gender}}</li>
                        <li><strong>Member Date:</strong> {{translatorProfile.translator.user_profile.user.date_joined}}</li>

                    </ul>

                    <div class="form-footer">
                        <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ui-sref="home.translatorsList"><i class="fa fa-arrow-left"></i> Back</button>
                    </div>

                </div>
                <!-- /tile body -->


            </section>
            <!-- /tile -->

        </div>

    </div>
    <!-- /row -->

</div>


