<div class="page page-users">

    <div class="pageheader">

        <h2>Users</h2>

        <div class="page-bar">

            <ul class="page-breadcrumb">
                <li>
                    <a ui-sref="home.dashboard"><i class="fa fa-home"></i> CuzAdmin</a>
                </li>
                <li>
                    <a>Read Me</a>
                </li>
            </ul>

        </div>

    </div>

    <!-- row -->
    <div class="row">


        <div class="col-md-12">

            <!-- tile -->
            <section class="tile" fullscreen="isFullscreen01">

                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>Read </strong>Me</h1>
                    <ul class="controls">


                    </ul>
                </div>
                <!-- /tile header -->

                <!-- tile body -->
                <div class="tile-body">
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <input type="text" class="form-control underline-input w-md pull-right mb-20"
                                   placeholder="Search..." ng-model="searchText">
                        </div>
                    </div>

                    <div class="table-responsive">
                        <section class="tile widget-todo" fullscreen="isFullscreen04">

                            <!-- tile header -->
                            <div class="tile-header dvd dvd-btm">
                                <h1 class="custom-font"><strong>Read me </strong></h1>
                                <ul class="controls">
                                    <li class="dropdown">

                                        <a role="button" tabindex="0" class="dropdown-toggle settings" data-toggle="dropdown">
                                            <i class="fa fa-cog"></i>
                                            <i class="fa fa-spinner fa-spin"></i>
                                        </a>

                                        <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                            <li>
                                                <a role="button" tabindex="0" class="tile-toggle">
                                                    <span class="minimize"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
                                                    <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a role="button" tabindex="0" class="tile-refresh">
                                                    <i class="fa fa-refresh"></i> Refresh
                                                </a>
                                            </li>
                                            <li>
                                                <a role="button" tabindex="0" class="tile-fullscreen">
                                                    <i class="fa fa-expand"></i> Fullscreen
                                                </a>
                                            </li>
                                        </ul>

                                    </li>
                                    <li class="remove"><a role="button" tabindex="0" class="tile-close"><i class="fa fa-times"></i></a></li>
                                </ul>
                            </div>
                            <!-- /tile header -->

                            <!-- tile body -->
                            <div class="tile-body lined-paper">

                                <ul class="todo-list list-unstyled">
                                    <li class="">
                                        <div class="view">
                                            <label class="checkbox checkbox-custom m-0 text-muted inline">
                                                <input type="checkbox"><i></i>
                                            </label>
                                            <span>Dashboard sayfasındaki User ve Job aktif hale getirildi.Diğerleri için sistem tarafı bekleniyor.<b>05.05.2017 tarihinde düzenlendi.</b> </span>
                                            <a role="button" tabindex="0" class="text-danger remove-todo pull-right">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="view">
                                            <label class="checkbox checkbox-custom m-0 text-muted inline">
                                                <input type="checkbox"><i></i>
                                            </label>
                                            <span>Users sayfasında customer, translotor ayrı listeleme sayfaları oluştutuldu.
                                            Bu sayfanın edit, update, delete çalışıyor fakat kısıtlamalı yaptık. Örnek veriler olduğu için (Bu sayfada silinen veri başka bir sayfada görülebilir.)</span>

                                            <a role="button" tabindex="0" class="text-danger remove-todo pull-right">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="view">
                                            <label class="checkbox checkbox-custom m-0 text-muted inline">
                                                <input type="checkbox"><i></i>
                                            </label>
                                            <span>Doc. Job ve Live Job kısımları ayrısı. Edit, delete, update çalışıyor. Fakat kısıtlamalı, örnek veriler olduğu için</span>
                                            <a role="button" tabindex="0" class="text-danger remove-todo pull-right">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="view">
                                            <label class="checkbox checkbox-custom m-0 text-muted inline">
                                                <input type="checkbox"><i></i>
                                            </label>
                                            <span>Pagination Kısmı Sorunsuz Çalışıyor</span>
                                            <a role="button" tabindex="0" class="text-danger remove-todo pull-right">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="view">
                                            <label class="checkbox checkbox-custom m-0 text-muted inline">
                                                <input type="checkbox"><i></i>
                                            </label>
                                            <span>Login Eksiksiz Çalışıyor</span>
                                            <a role="button" tabindex="0" class="text-danger remove-todo pull-right">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="view">
                                            <label class="checkbox checkbox-custom m-0 text-muted inline">
                                                <input type="checkbox"><i></i>
                                            </label>
                                            <span>Yetkilendirme ile ilgili bazı izinler ayarlanmadığından, bazı update etmeler disabled yada çalışmıyor.</span>
                                            <a role="button" tabindex="0" class="text-danger remove-todo pull-right">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="view">
                                            <label class="checkbox checkbox-custom m-0 text-muted inline">
                                                <input type="checkbox"><i></i>
                                            </label>
                                            <span>System Menagement sayfasında adminler listeleniyor, edit, delete, update, insert çalışıyor. </span>
                                            <a role="button" tabindex="0" class="text-danger remove-todo pull-right">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="">
                                    <div class="view">
                                        <label class="checkbox checkbox-custom m-0 text-muted inline">
                                            <input type="checkbox"><i></i>
                                        </label>
                                        <span>Sayfaları yenilendiğinizde verilerin tekrar gelmesi sağlandı.<b>05.05.2017 tarihinde düzenlendi.</b>  </span>
                                        <a role="button" tabindex="0" class="text-danger remove-todo pull-right">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </li>
                                    <li class="">
                                        <div class="view">
                                            <label class="checkbox checkbox-custom m-0 text-muted inline">
                                                <input type="checkbox"><i></i>
                                            </label>
                                            <span>Search kısmını yazarken sadece sayfayı arayacak.Butona basarsanız tüm Database'i arayacak şekilde ayarlandı.Sorunsuz olarak çalışıyor.<b>05.05.2017 tarihinde düzenlendi.</b>  </span>
                                            <a role="button" tabindex="0" class="text-danger remove-todo pull-right">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="view">
                                            <label class="checkbox checkbox-custom m-0 text-muted inline">
                                                <input type="checkbox"><i></i>
                                            </label>
                                            <span>Son güncellemeyle göre show kısımları ayarlandı. </span>
                                            <a role="button" tabindex="0" class="text-danger remove-todo pull-right">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="view">
                                            <label class="checkbox checkbox-custom m-0 text-muted inline">
                                                <input type="checkbox"><i></i>
                                            </label>
                                            <span>Admin Paneli Güncellendi.(Show Eklendi) </span>
                                            <a role="button" tabindex="0" class="text-danger remove-todo pull-right">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="view">
                                            <label class="checkbox checkbox-custom m-0 text-muted inline">
                                                <input type="checkbox"><i></i>
                                            </label>
                                            <span>Login kısmı daha güvenli olması için cookies'e çevrildi.Sorunsuz çalışıyor.<b>05.05.2017 tarihinde düzenlendi.</b>  </span>
                                            <a role="button" tabindex="0" class="text-danger remove-todo pull-right">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </li>
                                    </li>
                                    <li class="">
                                        <div class="view">
                                            <label class="checkbox checkbox-custom m-0 text-muted inline">
                                                <input type="checkbox"><i></i>
                                            </label>
                                            <span>Dashboard yapılandırılmaya başlandı ama projeyle beraber bitmesi bekleniyor.Sitenin yapısına göre compenentler eklenecek. <b>05.05.2017 tarihinde düzenlendi.</b> </span>
                                            <a role="button" tabindex="0" class="text-danger remove-todo pull-right">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="view">
                                            <label class="checkbox checkbox-custom m-0 text-muted inline">
                                                <input type="checkbox"><i></i>
                                            </label>
                                            <span>Economy sayfası sadece list var ve değerler static.Api bekleniyor.</span>
                                            <a role="button" tabindex="0" class="text-danger remove-todo pull-right">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="view">
                                            <label class="checkbox checkbox-custom m-0 text-muted inline">
                                                <input type="checkbox"><i></i>
                                            </label>
                                            <span>Support sayfası sade list ve read kısmı var değerler static.Api bekleniyor.</span>
                                            <a role="button" tabindex="0" class="text-danger remove-todo pull-right">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="view">
                                            <label class="checkbox checkbox-custom m-0 text-muted inline">
                                                <input type="checkbox"><i></i>
                                            </label>
                                            <span>Eksiklikleri tamamlama devam ediyor.<b><i>05.05.2017 tarihinde düzenlendi.</i></b> </span>
                                            <a role="button" tabindex="0" class="text-danger remove-todo pull-right">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="view">
                                            <label class="checkbox checkbox-custom m-0 text-muted inline">
                                                <input type="checkbox"><i></i>
                                            </label>
                                            <span><b>Her hafta cuma akşamı bildirilen ve görülen eksikler giderilerek sistem güncellenecek.En son <i>05.05.2017 tarihinde düzenlendi.</i></b></span>
                                            <a role="button" tabindex="0" class="text-danger remove-todo pull-right">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                            <!-- /tile body -->

                        </section>
                    </div>


                </div>
                <!-- /tile body -->


            </section>
            <!-- /tile -->


        </div>


    </div>
    <!-- /row -->


</div>


